{% extends "base.html" %}
{% block title %}Password reset — miserableprojects.directory{% endblock %}
{% block page_title %}Password reset{% endblock %}
{% block content %}
  <h1>Password reset</h1>
  <p>Enter your email to receive a password reset link.</p>
  <form method="post">
    {% csrf_token %}
    <div class="form">
      <div class="field">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
      </div>
    </div>
    <div class="actions">
      <button type="submit"><span>S</span>end reset link</button>
    </div>
  </form>
{% endblock %}
