<section class="comments">
  <h2>Comments</h2>
  {% if comments %}
    <div class="comment-list">
      {% for comment in comments %}
        {% include 'partials/comment.html' with comment=comment submission=submission can_comment=can_comment %}
      {% endfor %}
    </div>
  {% else %}
    <p>No comments yet.</p>
  {% endif %}

  {% if can_comment %}
    <p><a href="{% url 'comment_form' %}?submission={{ submission.pk }}">Add Comment</a></p>
  {% else %}
    {% if user.is_authenticated %}
      <p>You need to have at least one submission to comment.</p>
    {% else %}
      <p><a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to comment.</p>
    {% endif %}
  {% endif %}
</section>
