<header>
  <nav class="wrapper">
      <a {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %} href="/"><span>M</span>iserable Projects Directory</a>
      <span class="nav-right">
        <a {% if request.resolver_match.url_name == 'submit' %}class="active"{% endif %} href="/submit/"><span>S</span>ubmit</a>
        {% if request.user.is_authenticated %}
          <a {% if request.resolver_match.url_name == 'user_profile' or request.resolver_match.url_name == 'my_profile' %}class="active"{% endif %} href="/u/me/"><span>P</span>rofile</a>
        {% endif %}
        {% if request.user.is_authenticated %}
          <a href="/accounts/logout/"><span>L</span>ogout</a>
        {% else %}
          <a {% if request.resolver_match.url_name == 'login' %}class="active"{% endif %} href="/accounts/login/"><span>L</span>ogin</a>
        {% endif %}
        <a href="#" id="sound-toggle" role="button" aria-pressed="true" aria-label="Toggle SFX">SFX: On</a>
      </span>
  </nav>
</header>
