{% extends 'base.html' %}
{% block title %}Submit - miserableprojects.directory{% endblock %}
{% block content %}
  <h1>Submit Your Miserable Project</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.honeypot }}
    <div class="field">
      {{ form.is_anonymous.label_tag }}
      {{ form.is_anonymous.help_text }}
      {{ form.is_anonymous }}
      {{ form.is_anonymous.errors }}
    </div>


    <div class="form-row two-cols">
    <div class="field">
      {{ form.project_name.label_tag }}
      {{ form.project_name.help_text }}
      {{ form.project_name }}
      {{ form.project_name.errors }}
    </div>

    <div class="field">
      {{ form.tagline.label_tag }}
      {{ form.tagline.help_text }}
      {{ form.tagline }}
      {{ form.tagline.errors }}
    </div>
    </div>

    <div class="form-row two-cols">
      <div class="field">
        {{ form.birth_year.label_tag }}
        {{ form.birth_year.help_text }}
        {{ form.birth_year }}
        {{ form.birth_year.errors }}
      </div>
      <div class="field">
        {{ form.lifespan.label_tag }}
        {{ form.lifespan.help_text }}
        {{ form.lifespan }}
        {{ form.lifespan.errors }}
      </div>
    </div>

    <div class="field">
      {{ form.description.label_tag }}
      {{ form.description.help_text }}
      {{ form.description }}
      {{ form.description.errors }}
    </div>

    <div class="field">
      {{ form.idea.label_tag }}
      {{ form.idea.help_text }}
      {{ form.idea }}
      {{ form.idea.errors }}
    </div>
    <div class="field">
      {{ form.tech.label_tag }}
      {{ form.tech.help_text }}
      {{ form.tech }}
      {{ form.tech.errors }}
    </div>
    <div class="field">
      {{ form.tags.label_tag }}
      {{ form.tags.help_text }}
      {{ form.tags }}
      {{ form.tags.errors }}
    </div>

    <div class="field">
      {{ form.wins.label_tag }}
      {{ form.wins.help_text }}
      {{ form.wins }}
      {{ form.wins.errors }}
    </div>
    <div class="field">
      {{ form.failure.label_tag }}
      {{ form.failure.help_text }}
      {{ form.failure }}
      {{ form.failure.errors }}
    </div>
    <div class="field">
      {{ form.lessons.label_tag }}
      {{ form.lessons.help_text }}
      {{ form.lessons }}
      {{ form.lessons.errors }}
    </div>
    <div class="field">
      {{ form.links.label_tag }}
      {{ form.links.help_text }}
      {{ form.links }}
      {{ form.links.errors }}
    </div>


    <div class="actions">
      <button type="submit">Publish</button>
    </div>
  </form>

  {# Draft/preview flow removed. #}
{% endblock %}
